html,
body {
    box-sizing: border-box;
	height: 100%;
}

*,
*::after,
*::before{
    box-sizing:inherit;
    margin: 0;
    padding: 0;
}



.wrapper {
    max-width: 1024px;
    margin: 0 auto;
	display: flex;
	flex-direction: column;
	min-height: 100%;
    border: 1px solid #3E3E3E;
}

.header {
    background-color: #3E3E3E;
}

.container{
    max-width: 1024px;
    padding: 20px;
    margin: 0 auto;
}
.header__social-menu {
    display: flex;
    justify-content: flex-start;
}
.social-menu {
}
.social-menu__list {
    list-style: none;
    display: flex;

}
.social-menu__list:last-child{
    margin-right: 0;
}
.social-menu__item {
    padding: 5px 0;
    margin-right: 30px;
}

.social-menu__item-link {
}
.social-menu__item-icon {
    width: 30px;
    height: 30px;

}
.social-menu__item-icon:hover{
    transform: rotate(360deg) scale(1.5);
    -webkit-transform: rotate(360deg) scale(1.5);
    -moz-transform: rotate(360deg) scale(1.5);
    -ms-transform: rotate(360deg) scale(1.5);
    -o-transform: rotate(360deg) scale(1.5);
    transition: 0.8s;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -ms-transition: 0.8s;
    -o-transition: 0.8s;
}

.main {
	flex: 1 0 auto;
    background:#F2F2F2;
}
.footer {
	flex: 0 0 auto;
    background-color:#81C341;
}
.footer__social-menu{
    display: flex;
    justify-content: flex-end;
}

